<?xml version="1.0" encoding="UTF-8"?>
<suite name="TestExecution">
  <test name="TestRun">
    <classes>
      <class name="driver.DriverScript">
        <methods>
          <include name="loadClassFile"></include>
          <include name="preRequisite"></include>
          <include name="runTestScripts"></include>
        </methods>
      </class>
    </classes>
  </test>
</suite>